%form{:action => "/#{@name}", :method => 'post', :class => 'page_edit_form'}
  %input{:name => 'title', :type => 'text', :size => 80, :value => @page[:title]}
  %br
  %textarea{:name => 'body', :rows => 30, :cols => 80}= @page[:body]
  %br
  %input{:type => 'submit', :value => 'Save'}
  %a{:href => "/#{@name}"} cancel
