.page
  .page_header
    %h3.title Index
  .page_body
    %ul
      - wiki_pages.each do |name, page|
        %li
          %a{:href => "/#{name}"}= page[:title].empty? ? name : page[:title]
  .page_footer
