%html
  %head
    %meta{:"http-equiv"=>"Content-Type", :content=>"text/html;charset=UTF-8"}
    %title= options.title
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css', :media=>'screen,tv,projection'}
    %script{:type=>"text/javascript", :src=>"/jquery.js"}
  %body
    #wrap
      #header
        %h1= options.title

      #content
        = yield

      #footer
