%html
  %head
    %meta{:"http-equiv"=>"Content-Type", :content=>"text/html;charset=UTF-8"}
    %title= options.title
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css', :media=>'screen,tv,projection'}
    %script{:type=>"text/javascript", :src=>"/jquery.js"}
  %body
    #wrap
      #header
        %h1
          %a{:href => '/'}= options.title

      #content
        = yield

      #navigation
        = partial :navigation

      #footer
        Powerd by
        %a{:href=>'http://github.com/jugyo/gitki'} Gitki
