body
  margin: 0
  padding: 0
  background: url(/background.png)
  background-repeat: no-repeat
  background-position: top right

h1
  margin: 4px
  padding: 0
  a
    color: blue

pre
  margin: 4px
  padding: 4px

#wrap
  margin: 24px

#footer
  margin: 4px
  text-align: right
  font-size: 86%
  color: gray
  a
    color: orange

#content
  border: solid 1px silver

.page
  padding: 4px
  h2
    color: green
    margin: 0
    padding: 0
  .page_header
    border-bottom: dashed 1px silver
  .page_body
    padding: 10px

form.page_edit_form
  a
    color: gray

#navigation
  border-left: dashed 1px silver
  margin: 0 4px
  padding: 4px
  font-size: 86%
  h3
    color: gray
    margin: 2px
  a
    color: green
  ul
    margin: 2px 4px
    padding: 0
    li
      list-style: none

#error-message
  font-weight: bold
  margin: 12px
  color: red
