h1
  margin: 4px
  padding: 0
  a
    color: red

#footer
  margin: 4px
  text-align: right
  font-size: 86%
  color: gray
  a
    color: orange

.page
  padding: 4px
  border: solid 1px silver
  h3
    color: green
    margin: 0
    padding: 0
  .page_header
    border-bottom: dashed 1px silver
  .page_body
    padding: 10px

.page_actions
  margin: 2px
  text-align: right
  font-size: 86%
  a
    color: orange

form.page_edit_form
  a
    color: gray
